*
{
    margin:0;
    padding:0;
}

body
{
width:100%;
font-family: "Raleway", sans-serif;
}

/* Header starts */

.header
{
    padding:5px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position:sticky;
    top:0px;
    z-index:998;
    background-color:#fdf0e0;
    /* width: 100%; */
}

.logo
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:black;
    line-height:1.1;
}

.clove
{
   font-size:3rem;
   letter-spacing: 1px;
   font-weight: 500;
   font-family: "playfair Display", monospace;
   color:#e97400;
   line-height:3.2rem;
}
.clove>span
{
    color:black;
    font-size:2.5rem;
}
.dental
{
    font-size:0.8rem;
    letter-spacing: 4px;
}


.nav-list
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:0.7rem;
    padding:10px;
}

.nav-item
{
    padding:2px 4px;
}
.nav-link
{
    text-decoration: none;
    color:rgb(87, 86, 86);
    font-size:0.95rem;
    font-weight: 500;
    text-shadow: 0px 1px  rgb(214, 213, 213);
}
.down-arrow
{
    margin-left:0.7rem;
    color:#ff8000;
}

.btn-group
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap:2rem;
}

.btn
{
    padding:0.9rem 1rem;
    border-radius:50px;
    font-size:1rem;
    font-weight: 400;
}

.solidbtn
{
    border:1px solid rgb(255, 90, 30);
    background-color: #fa9735;
    color:#fff;
}

.borderbtn
{
    
    background-color: transparent;
    border:1px solid rgb(255, 90, 30);
}

.borderbtn>.down-arrow
{
    color:black;
}

.btn-left-icon
{
    margin-right:0.7rem;
    color:white;
}
/* Header ends */

/* texts color:#ff8000; */

/* header background-color:#fdf0e0; */

/* footer starts */


/* div.first starts*/
.footer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:40px 0;
    gap:2rem;
    position: relative;
    background-color: #452b0c;
}

.first
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:6rem;
}

.footer-list>h3
{
    font-size:1.6rem;
    margin-bottom:15px;
    color:#ffffffdb;
}
.footer-list>ul
{
    list-style: none;
}
.footer-list>ul>li
{
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1;
    font-size:1.1rem;
    text-shadow: 2px 2px 2px black;
}
.footer-list>ul>li>.links
{
    text-decoration: none;
    color:#ffffffc9;
}

.social-media
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:2rem;
}
.social-icon
{
    font-size:1.5rem;
    color:white;
    filter: drop-shadow(2px 2px 2px #000);
}
/* div.first ends */


.second
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.second>h1
{
font-size:12rem;
font-family: "playfair Display", monospace;
font-weight:500;
color:#e9750027;
letter-spacing: 0.5rem;
}

.second>h1>span
{
    color:rgba(255, 255, 255, 0.163);
}
.second>h2
{
    font-size:4.5rem;
    letter-spacing: 1rem;
    color:#ffffff2f;
}

.third>p
{
    color:#ffffff78;
    font-size:1.2rem;
}
/* footer ends */


/* main */
.blogHub
{
    padding:3rem 0;
    background-color:#fdf0e0;;
}
.blogHub>.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
}
#blogHub>.container>.navbar>.nav-list>.nav-item>.nav-link
{
    font-size:1.1rem;
}
#blogHub>.container>.navbar>.nav-list>.nav-item>.active
{
    color:#e97400;
}
.data-carousel-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:2rem;
}

.col
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3rem;
}
.col>div
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border:2px solid red; */
    gap:1rem;
    width:400px;
    
}
.col>div>img
{
    width:110px;
    height:110px;
    object-fit: cover;
    border-radius: 10px;
}
.data
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.data>h3
{
    color:rgba(46, 46, 46, 0.841);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.149);
}

.date>:nth-child(1),.date>:nth-child(2)
{
    color:rgba(91, 90, 90, 0.718);
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(91, 90, 90, 0.145);
}

.carousel-handler
{
    align-self: flex-end;
    margin-right:8rem;
    
}
.circle-btn
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:none;
    background-color: transparent;
    background-color: #e9750033;
    
}
.prev
{
    margin-right:0.5rem;
}
.colr-arrow
{
    font-size: 1.2rem;
    color:#e97400;
}

.explore>div
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 0.5rem; 
}
.explore>div>a
{
  font-weight: 700;
  color:#1a0f02;
  text-decoration: none;
  border-bottom: 2px solid #1a0f02;
  font-size: 1.3rem;
}
.explore>div>i
{
    color:#e97400;
}
/* blogHub ends */

/* acaus starts */
.acaus
{
    padding:50px 0;
    width:100% 
}
.acaus>.container
{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap:2rem;
    width:100%;
    position: relative;
   
}
.acaus>.container::-webkit-scrollbar
{
    display: none;
}
.card
{
    min-width:55%;
    /* background-position: top -5rem left -13rem; */
    background-size:cover;
    background-position: left;
    height:400px;
    border-radius: 20px;
    padding:50px 20px;
}
.card1
{
    background-image: url('/assests/4c76679b7dff168bbdcad80eeb6369af.png');
}
.card2
{
    background:url('/assests/0fdfbef370f1969b4e4077a614fe73a3.png');
}
.card3
{
    background: url('/assests/a514870404cfb96542778b23819867e3.png');
}

.details-card
{
 
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 70px;
    padding:30px;
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    gap:1rem;
}
.d-card1
{
    background-color: #112230;
}

.d-card2
{
    background-color: #36261D;
}

.d-card3
{
    background-color: #433943;
}

.details-card>h1
{
    font-size:2.8rem;
    color:white;
}
.details-card>p
{
margin-top: 2px;
color:#ffffffb9;
font-size:1.25rem;
font-weight: 300;
}
.details-card>a
{
 text-decoration: none;
 color:#e97400;
 font-size: 1.1rem;
 font-weight: 500;
}

.search
{
margin-left:15px;
}
.acaus>.carousel-handler
{
   margin:20px auto;
   text-align:end;
   padding-right: 80px;
}
/* acaus ends */

/* trustUs starts*/
.trustUs
{
padding:100px 0px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap:5rem;
}
.trustUs>.container
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.handshake
{
    width:80%;
    height:450px;
    margin:0 auto;
    background: url('/assests/handshake.jpg');
    background-size: cover;
    background-position: top -30rem center;
    border-radius: 20px;
    padding:50px 0px;
}
.partners
{
    width:60%;
    padding:20px 30px;
    margin:0px auto;
    display: flex;
    gap:2rem;
    flex-direction: column;
    box-shadow: 1px 2px 2px gray;
    border-radius: 20px;
    position: absolute;
    background-color: #fff;
    top:70%;
    
}
.partners>:nth-child(1)
{
display: flex;
align-items: flex-start;
flex-direction: column;
justify-content: space-between;
gap:1rem;
}
.partners>:nth-child(1)>h1
{
    font-size:3rem;
    color: #e97400;  
}
.partners>:nth-child(1)>h2
{
    font-size:2rem;
}
.partners>:nth-child(1)>p
{
 font-size:1.3rem;
 font-weight: 500;
 color:rgba(49, 49, 49, 0.73)
}
.brand-carousel
{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:1rem;
    overflow: hidden;
    position: relative;
}
.brand-carousel::-webkit-scrollbar
{
    display: none;
}
.caro-item>img
{
    width:150px;
    height: 70px;
    object-fit: contain;
    object-position: center;
}
.caro-item{
    animation: scroll 40s linear infinite;
    margin-left:5px;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.partners>:nth-child(3)
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3rem;
    
    
}
.partners>:nth-child(3)>.solidbtn
{
    width:300px;
}
.partners>:nth-child(3)>span
{
    display: flex;
    align-items: center;
    gap:1rem;
}
.partners>:nth-child(3)>span>a
{
    text-decoration:none;
    font-size:1.3rem;
    border-bottom:1px solid #4D2C19;
    color:#4D2C19;
    font-weight:700;
}

/* beyond dentistry starts  */
    .beyondDentistry
    {
        width:80%;
        border-radius:20px;
        background-color: #FFF9F4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:80px 40px;
        gap:2rem;
        margin-top: 20%;

    }
    .beyondDentistry>:nth-child(1)
    {
        font-size:2.3rem;
        color:#303030;
    }
    .beyondDentistry>:nth-child(2)
    {
        font-size:1.2rem;
        font-weight: 500;
        color:#474747;
    }
    .beyondDentistry>:nth-child(3)
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap:2rem;
    }

    .beyondDentistry>:nth-child(3)>.dtry-card
    {
        width:250px;
        height:150px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: #fff;;
    }
    .beyondDentistry>:nth-child(3)>.dtry-card>img
    {
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
    .beyondDentistry>:nth-child(3)>.dtry-card>h3
    {
        color:#303030;
        font-weight:700;
    }
    /* beyond dentistry ends */

    /* feq-ques starts */
    .feq-ques
    {
        width: 80%;
    }
    .feq-ques>.container
    {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap:2rem;
    }
    .feq-ques>.container>h1
    {
        font-size:2.3rem;
        font-weight: 700;
    }
    .questions
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap:3rem;
    }
    
    .ques
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 15px 0px;
        
    }
    .ques>h3
    {
       font-size:1.2rem; 
       width:70%
    }
    .colr-plus
    {
        color: #e97400;
    }
    .ques>hr
    {
        color:#ECECEC;
         
    }
    /* feq-ques starts */

    /* specialists starts*/
        /* .specialists
        {
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap:2rem;
            padding:50px 0;
        }
        .specialists>:nth-child(1)
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap:2rem;
        }
        .specialists>:nth-child(1)>h1
        {
            width:70%;
            font-size: 2rem;
            font-weight: 700;
        }
        .specialists>:nth-child(1)>.facility-container
        {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap:3rem;
        }
        .facility
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap:1rem;
        }
        .facility>img
        {
            width:100px;
            height: 70px;
            object-fit: contain;
            object-position: center;
        }
        .facility>:nth-child(2)
        {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap:0.8rem;
        }
        .facility>:nth-child(2)>h3
        {
            color: #4D2C19;
            font-weight: 600;
            font-size:1.5rem;
        }
        .facility>:nth-child(2)>p
        {
            font-weight: 500;
            font-size: 1.1rem;
        }
        .facility>:nth-child(2)>p>span
        {
            color:#e97400;
            margin-right:10px;
            font-weight: 700;
        } */

        /* .d-carousel-container
        {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            gap:2rem;
            width:100%;
            position: relative;
        } */
        
        /* .d-carousel-container::-webkit-scrollbar
        {
            display: none;
        } */
/* 
        .specialists>:nth-child(2)
        {
            display: flex;
            justify-content: space-between;
            align-content: flex-start;
            flex-direction: column;
        }
        .d-carousel-container
       {
        display:flex;
        flex-direction: row;
        overflow-x: scroll;
        height: 500px;
        width:100%;
       }
        .dr-card
        {
            width:360px;
            height: 360px;
            border:2px solid red;
        }
        .dr-card>img
        {
            width: 100%;
            border-radius: 20px;
            object-fit: cover;

        } */

    /* specialists ends */

/* main ends */